@font-face {
  font-family: "Helsky";
  src: url("/assets/fonts/Helsky-Regular.eot");
  src: url("/assets/fonts/Helsky-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/Helsky-Regular.woff2") format("woff2"),
    url("/assets/fonts/Helsky-Regular.woff") format("woff"),
    url("/assets/fonts/Helsky-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Done with https://stackoverflow.com/questions/6542212/use-css3-transitions-with-gradient-backgrounds/63848864#63848864 */

@property --skyColor1 {
  syntax: '<color>';
  initial-value: rgb(163, 222, 251);
  inherits: false;
}

@property --skyColor2 {
  syntax: '<color>';
  initial-value: rgb(207, 235, 249);
  inherits: false;
}

@property --groundColor1 {
  syntax: '<color>';
  initial-value: rgb(92, 157, 13);
  inherits: false;
}

@property --groundColor2 {
  syntax: '<color>';
  initial-value: rgb(175, 217, 57);
  inherits: false;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(var(--skyColor1), var(--skyColor2));
  transition: --skyColor1 1s, --skyColor2 1s;
}

body:has(article div input[type="checkbox"]:checked) {
  --skyColor1: rgb(0, 0, 0, 1);
  --skyColor2: rgb(30, 100, 151);
}

body > article {
  position: absolute;
  height: 25vh;
  width: 100%;
  z-index: 2;
}

body > article h1 {
  color: white;
  font-family: "Helsky", sans-serif;
  font-size: 80px;
  font-weight: 300;
  position: absolute;
  text-align: center;
  width: 100%;
  letter-spacing: 3px;
}

body > article h1::after {
  content: "Fancy Fireworks";
  position: absolute;
  top: 49.5%;
  left: 50.2%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #c3c3c3;
  text-align: center;
  z-index: -1;
  letter-spacing: 3px;
}

body > article div {
  display: flex;
  justify-content: flex-end;
}

body > article div label {
  margin-right: 15px;
  margin-top: 15px;
}

body > article div label:hover {
  cursor: pointer;
}

body > article div input[type="checkbox"] {
  appearance: none;
  position: absolute;
  height: 0;
  width: 0;
  cursor: pointer;
}

body > article div ul {
  position: relative;
  height: 31px;
  width: 65px;
  border: 3px solid #e4e7ec;
  border-radius: 10em;
  background-color: white;
  transition: background-color 250ms;
  padding: 0;
  margin: 0;
}

body > article div ul li {
  transform: translate(5px, 3px);
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #ffeccf;
  box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
  transition: background-color 250ms, border-color 250ms,
    transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
  list-style-type: none;
}

body > article div input[type="checkbox"]:checked ~ ul {
  background-color: #374151;
}

body > article div input[type="checkbox"]:checked ~ ul li {
  box-shadow: inset 0px 0px 0px 0.75em white;
  transform: translate(33px, 3px);
}

body section:nth-of-type(2) div:last-of-type {
  /* background: linear-gradient(
    0deg,
    rgba(92, 157, 13, 1) 0%,
    rgba(132, 186, 34, 1) 67%,
    rgba(175, 217, 57, 1) 100%
  ); */
  background: linear-gradient(var(--groundColor1), var(--groundColor2));
  transition: --groundColor1 1s, --groundColor2 1s, .3s ease-in-out;
  height: 25vh;
  width: 100%;
  border-radius: 150% 150% 50% 60% / 150% 150% 0% 0%;
  position: absolute;
  bottom: 0;
}

body:has(article div input[type="checkbox"]:checked) section:nth-of-type(2) div:last-of-type {
  /* background: linear-gradient(187deg, rgba(8,115,94,1) 0%, rgba(3,68,86,1) 60%, rgba(0,40,81,1) 100%); */
  --groundColor1: rgb(8, 115, 94);
  --groundColor2: rgb(0, 40, 81);
}

body section:nth-of-type(2) input[type="checkbox"],
body section:nth-of-type(2) label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body section:nth-of-type(2) label {
  padding: 20px 40px 15px 40px;
  background-color: transparent;
  border-radius: 2px;
  font-size: 25px;
  font-family: "helsky", sans-serif;
  letter-spacing: 2px;
  font-weight: 200;
  border: 2px solid rgba(255, 0, 0, 0.308);
  color: rgba(255, 0, 0, 0.308);
  pointer-events: none;
  transition: .3s ease-in-out;
}

body:has(input[name="dayNightMode"]:checked) section:nth-of-type(2) div:last-of-type label {
  border-color: red;
  color: red;
  pointer-events: all;
}

body:has(input[name="dayNightMode"]:checked) section:nth-of-type(2) div:last-of-type label:hover {
  color: white;
}

body section:nth-of-type(2) label:hover {
  background-color: red;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

body section:nth-of-type(2) input[type="checkbox"] {
  appearance: none;
  width: 50px;
  height: 50px;
  background-color: blue;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body section:nth-of-type(2) input[type="checkbox"]:checked {
  background-color: red;
}

/** Firework Launching **/

body section:nth-of-type(2) {
  height: 100vh;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

body section:nth-of-type(2) div:first-of-type {
  height: 100px;
  width: 25px;
  background: linear-gradient(
    0deg,
    rgba(221, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  );
  position: absolute;
  bottom: 22%;
  left: 50%;
  transform: scale(1) translate(-50%);
  z-index: 4;
  transition: .3s ease-in-out;
}

body section:nth-of-type(2) div:first-of-type:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 6px;
  background-color: #c00000;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

body section:nth-of-type(2) div:first-of-type:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 11px;
  background-color: brown;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 40%);
  border-radius: 20% 80% 0% 0% / 80% 100% 0 0;
}

/* body section:nth-of-type(2) article {
  height: 10px;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  border-radius: 50%;
  animation: launchFirework 1s, hideLaunch 0.7s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out;
  animation-delay: 0s, 0.7s;
  position: absolute;
  top: 0;
  left: calc(50% - 5px);
} */

/* body:has(section:nth-of-type(1) ul li input[type="radio"]:checked) {
  display: none;
} */
body:has(section:nth-of-type(1) ul li input[type="radio"]:checked):has(section:nth-of-type(2) input[type="checkbox"]:checked)
  section:nth-of-type(2)
  article {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  animation: launchFirework 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out;
  animation-delay: 0s, 0.7s;
  position: absolute;
  top: 0;
  left: -5px;
}

@keyframes launchFirework {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(0px, -300px);
  }
}

@keyframes hideLaunch {
  from {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

body section:nth-of-type(2) article ul {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -1;
  margin: 0;
  padding: 0;
}

section:nth-of-type(2) article ul li {
  list-style-type: none;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-out;
  border-radius: 50%;
  aspect-ratio: 1/1;
  z-index: -1;
  list-style-type: none;


}

/* body:has(section:nth-of-type(1) ul li:nth-of-type(1) input[type="radio"]:checked):has(section:nth-of-type(2) input[type="checkbox"]:checked) section:nth-of-type(2) article ul li {
  background-color: gold;
  animation-name: explode;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out;
} */

body:has(section:nth-of-type(1) ul li:nth-of-type(2) input[type="radio"]:checked):has(section:nth-of-type(2) input[type="checkbox"]:checked) section:nth-of-type(2) article ul li {
  background-color: purple;
  list-style-type: none;
  z-index: -1;  
  animation-name: explode;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out;
  border-radius: 50%;
  aspect-ratio: 1/1;
}


@keyframes explode {
  from {
    top: 50%;
    left: 50%;
    transform: translate(-55%, -55%);
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  to {
    top: var(--explode-top, 150px);
    left: var(--explode-left, 50%);
    opacity: 0;
  }
}

body section:nth-of-type(2) article ul li:nth-child(1) {
  --explode-top: -150px;
  --explode-left: -50%;
}

body section:nth-of-type(2) article ul li:nth-child(2) {
  --explode-top: 150px;
  --explode-left: -50%;
}

body section:nth-of-type(2) article ul li:nth-child(3) {
  --explode-top: 50%;
  --explode-left: 150px;
}

body section:nth-of-type(2) article ul li:nth-child(4) {
  --explode-top: 50%;
  --explode-left: -150px;
}

body section:nth-of-type(2) article ul li:nth-child(5) {
  --explode-top: 100px;
  --explode-left: 100px;
}

body section:nth-of-type(2) article ul li:nth-child(6) {
  --explode-top: -100px;
  --explode-left: -100px;
}

body section:nth-of-type(2) article ul li:nth-child(7) {
  --explode-top: -100px;
  --explode-left: 100px;
}

body section:nth-of-type(2) article ul li:nth-child(8) {
  --explode-top: 100px;
  --explode-left: -100px;
}

/** End Firework Launching **/

/** Sidebar **/

body section:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 175px;
  z-index: 1;
  top: 0;
}

body section:nth-of-type(1) ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  margin: 0;
  background: repeating-linear-gradient(
    90deg,
    #bc9360,
    #bc9360 30px,
    #a38054 30px,
    #a38054 32px
  );
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 10px solid #a37f54;
  border-left: none;
}

body section:nth-of-type(1) ul li {
  list-style-type: none;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

body section:nth-of-type(1) ul li:not(:first-of-type) {
  margin-top: 30px;
}

body section:nth-of-type(1) ul li input[type="radio"] {
  appearance: none;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  aspect-ratio: 1;
  position: relative;
  margin: 0;
}

body section:nth-of-type(1) ul li input[type="radio"]:hover {
  cursor: pointer;
}

body section:nth-of-type(1) ul li input[type="radio"]:checked {
  box-shadow:  rgba(255, 166, 0, 1) 0px 7px 29px 0px;
  border: 3px solid rgb(255, 166, 0);
}

body section:nth-of-type(1) ul li:nth-child(1) input[type="radio"] {
  background: url('../img/firework-ball.png');
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
}

body section:nth-of-type(1) ul li input:before {
  content: var(--modeContent);
  top: var(--explode-top, 150px);
  font-size: 16px;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body section:nth-of-type(1) ul li:first-of-type input:before {
  --modeContent: "";
  height: 15px;
  width: 15px;
  /* background-color: gold; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

body section:nth-of-type(1) ul li:nth-of-type(2) input:before {
  --modeContent: "2";
}

body section:nth-of-type(1) ul li:nth-of-type(3) input:before {
  --modeContent: "3";
}

/** Moon & Sun **/

section:nth-of-type(3){
  position: absolute;
  top: 100px;
  right: 10%;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-color: orange;
  box-shadow: 0 0 45px 5px yellow,0 0 65px 10px yellow inset;
}

body:has(article div input[type="checkbox"]:checked) section:nth-of-type(3) {
  box-shadow: none;
  background: linear-gradient(50deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, rgba(205,205,205,1) 100%);
  box-shadow: 0 0 10px 2px #dcdcdc;
  pointer-events: none;
}

body:has(article div input[type="checkbox"]:checked) section:nth-of-type(3) div:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 30px;
  left: 25px;
  background: linear-gradient(50deg, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 30%, rgba(205,205,205,1) 100%);
  border-radius: 50%;
}

body:has(article div input[type="checkbox"]:checked) section:nth-of-type(3) div:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 60px;
  left: 20px;
  background-color: #E6E6E6;
  border-radius: 50%;
}

/* Zoom buttons */

section:nth-of-type(4) {
  height: max-content;
  width: max-content;
  position: absolute;
  bottom: 100px;
  right: 200px;
}

section:nth-of-type(4) ul {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0;
}

section:nth-of-type(4) ul li {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

section:nth-of-type(4) ul li input[type="radio"] {
  appearance: none;
  border: 4px solid red;
  aspect-ratio: 1;
  position: relative;
  margin: 0;
  width: 75px;
  height: 75px;
  border-radius: 10px;
}

section:nth-of-type(4) ul li input[type="radio"]:hover {
  cursor: pointer;
}

section:nth-of-type(4) ul li input[type="radio"]:checked {
  background-color: red;
}

section:nth-of-type(4) ul li input[type="radio"]:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(10deg);
  content: var(--zoomContent);
  font-size: 22px;
  font-weight: bold;
  color: white;
}

section:nth-of-type(4) ul li:first-of-type input[type="radio"]:before {
  --zoomContent: "1x";
}

section:nth-of-type(4) ul li:nth-of-type(2) input[type="radio"]:before {
  --zoomContent: "2x";
}

section:nth-of-type(4) ul li:last-of-type input[type="radio"]:before {
  --zoomContent: "3x";
}

/* Zoom in 2x */

body:has(section:nth-of-type(4) ul li:nth-of-type(2) input[type="radio"]:checked) section:nth-of-type(2) div:last-of-type {
  height: 18vh;
}

body:has(section:nth-of-type(4) ul li:nth-of-type(2) input[type="radio"]:checked) section:nth-of-type(2) div:first-of-type {
  transform: scale(0.8) translate(-50%);
  bottom: 14%;
}

/* Zoom in 3x */

body:has(section:nth-of-type(4) ul li:nth-of-type(3) input[type="radio"]:checked) section:nth-of-type(2) div:last-of-type {
  height: 12vh;
}

body:has(section:nth-of-type(4) ul li:nth-of-type(3) input[type="radio"]:checked) section:nth-of-type(2) div:first-of-type {
  transform: scale(0.6) translate(-50%);
  bottom: 9%;
}


/* Power levels */

section:nth-of-type(5) {
  height: max-content;
  width: max-content;
  position: absolute;
  bottom: 200px;
  right: 200px;
}

section:nth-of-type(5) ul {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0;
}

section:nth-of-type(5) ul li {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

section:nth-of-type(5) ul li input[type="radio"] {
  appearance: none;
  border: 4px solid red;
  aspect-ratio: 1;
  position: relative;
  margin: 0;
  width: 75px;
  height: 75x;
  border-radius: 10px;
}

section:nth-of-type(5) ul li input[type="radio"]:hover {
  cursor: pointer;
}

section:nth-of-type(5) ul li input[type="radio"]:checked {
  background-color: red;
}

section:nth-of-type(5) ul li input[type="radio"]:hover:before {
  animation: moveIcon 0.2s infinite alternate;
}

section:nth-of-type(5) ul li input[type="radio"]:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-size: 100%;
}

section:nth-of-type(5) ul li:first-of-type input[type="radio"]:before {
  background-image: url('../img/rocket-power1.svg');
}

section:nth-of-type(5) ul li:nth-of-type(2) input[type="radio"]:before {
  background-image: url('../img/rocket-power2.svg');
}

section:nth-of-type(5) ul li:last-of-type input[type="radio"]:before {
  background-image: url('../img/rocket-power3.svg');
}

@keyframes moveIcon{
  from {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  to {
    top: 45%;
    left: 55%; 
  }
}

/* Vuurwerk - Power 1 */
body:has(section:nth-of-type(5) ul li:first-of-type input[type="radio"]:checked):has(section:nth-of-type(2) input[type="checkbox"]:checked) section:nth-of-type(2) article {
  animation-name: launchFirework, hideLaunch;
  animation-delay: 0s, 1.7s;
  animation-duration: 1.5s, 1.5s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-out;
  transform: translate(0px, 0px) rotate(-45deg);
  z-index: -1;
}

body:has(section:nth-of-type(5) ul li:first-of-type input[type="radio"]:checked):has(section:nth-of-type(2) input[type="checkbox"]:checked) section:nth-of-type(2) article ul li{
  background-color: green;
  animation-name: explode;
  animation-delay: 1.5s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out;
  z-index: -1;
}

/* Vuurwerk - Power 2 */

body:has(section:nth-of-type(5) ul li:nth-of-type(2) input[type="radio"]:checked):has(section:nth-of-type(2) input[type="checkbox"]:checked) section:nth-of-type(2) article {
  animation-name: firePower2, hideLaunch;
  animation-delay: 0s, 1.7s;
  animation-duration: 1.5s, 1.5s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-out;
  transform: translate(0px, 0px) rotate(-45deg);
}

/* Vuurwerk - Power 3 */

body:has(section:nth-of-type(5) ul li:nth-of-type(3) input[type="radio"]:checked):has(section:nth-of-type(2) input[type="checkbox"]:checked) section:nth-of-type(2) article {
  animation-name: firePower3, hideLaunch;
  animation-delay: 0s, 1.7s;
  animation-duration: 1.5s, 1.5s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-out;
}

/* Kleurtjes instellen */

body:has(section:nth-of-type(1) ul li:nth-of-type(1) input[type="radio"]:checked):has(section:nth-of-type(2) input[type="checkbox"]:checked) section:nth-of-type(2) article ul li{
  background-color: gold;
  animation-name: explode;
  animation-delay: 1.5s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out;
}

body:has(section:nth-of-type(1) ul li:nth-of-type(2) input[type="radio"]:checked):has(section:nth-of-type(2) input[type="checkbox"]:checked) section:nth-of-type(2) article ul li{
  background-color: magenta;
  animation-name: explode;
  animation-delay: 1.5s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out;
}

body:has(section:nth-of-type(1) ul li:nth-of-type(3) input[type="radio"]:checked):has(section:nth-of-type(2) input[type="checkbox"]:checked) section:nth-of-type(2) article ul li{
  background-color: cyan;
  animation-name: explode;
  animation-delay: 1.5s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out;
}



/* Power animaties */

@keyframes firePower2 {
  from {
    transform: translate(0px, 0px) rotate(-45deg);
    
  }

  to {
    transform: translate(0px, -600px) rotate(-45deg);
  }
}

@keyframes firePower3 {
  from {
    transform: translate(0px, 0px) rotate(-45deg);
  }

  to {
    transform: translate(0px, -800px) rotate(-45deg);
  }
}


/* Alert pop-up */

section:nth-of-type(6) {
  width: 300px;
  height: 200px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  z-index: 5;
}

body :not(section:nth-of-type(6)) * {
  filter: blur(4px);
  pointer-events: none;
}

body:has(section:nth-of-type(6) input[type="checkbox"]:checked) section:nth-of-type(6) {
  display: none;
}

body:has(section:nth-of-type(6) input[type="checkbox"]:checked) :not(section:nth-of-type(6)) {
  filter: none;
}

body:has(section:nth-of-type(6) input[type="checkbox"]:checked) :not(section:nth-of-type(2) div label) {
  pointer-events: all;
}

section:nth-of-type(6) input[type="checkbox"] {
  appearance: none;
  position: absolute;
  height: 0;
  width: 0;
  cursor: pointer;
}

section:nth-of-type(6) label {
  color: red;
  border: 2px solid red;
  padding: 10px 20px;
  transition: 0.3s ease-in-out;
}

section:nth-of-type(6) label:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}